<!doctype html>
<html>
    <head>
        <title>Login example</title>
    </head>

    <body>
        <h1>Example</h1>
        {% if user.is_authenticated %}
        <p>
            Currently logged in with username {{ user }}
            (<a href="{% url auth_logout %}">logout</a>)
        </p>
        <p>
            {% if user.is_fresh %}
            This user session is fresh
            {% else %}
            This user session is <strong>NOT</strong> fresh
            {% endif %}
        </p>
        {% endif %}
        <form method="post" action="">
            <fieldset>
                <legend>Login</legend>
                {{ form.as_p }}
            </fieldset>
            {% csrf_token %}
            <input type="submit">
        </form>

    </body>
</html>


